{% load staticfiles %}
<html>
<link rel = "stylesheet" type = "text/css" href = "{% static 'simulator/pipelineStyle.css'%}"/>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
<!--for popups-->
<script type = "text/javascript">
	function toggle_visibility(id) {
		var e = document.getElementById(id);
		if (e.style.display == 'block')
			e.style.display = 'none';
		else
			e.style.display = 'block';
	}
</script>

<h1>Pipeline Map</h1>
<p>S12-6: BGTZ/BC (Pipeline Freeze)</p>

{% csrf_token %}

<div id = "dataProgramRegTables">
	<div id = "progtable">
		<table id = "programtable">
			<tr>
				<th> Address </th>
				<th> Code </th>
			</tr>
            <tr>
            {% for mipsName in mipsList %}
                <td style="visibility:visible;">{{ mipsName }}</td>
            {% endfor %}
			{% for mipsprogram in programMips %}
				<td style="visibility:visible;"> {{ mipsprogram.value }} </td>
			{% endfor %}
            </tr>
		</table>
	</div>
	
	<div id = "datatable">
		<table id = "datasegmenttable">
			<tr>
				<th style="visibility:visible;"> Address </th>
				<th style="visibility:visible;"> Data </th>
			</tr>

			{% for datasegment in datasegment %}
				<tr>
					<td style="visibility:visible;"> {{ datasegment.name }} </td>
					<td style="visibility:visible;"> {{ datasegment.value }} </td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
	<div id = "regtable">
		<table id = "registertable">
			<tr>
				<th> Register </th>
				<th> Value </th>
			</tr>

			{% for register in registers %}
				<tr>
					<td style="visibility:visible;"> {{ register.name }} </td>
					<td style="visibility:visible;"> {{ register.value }} </td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>


<div id = "pipeTable">
	<div id = "pipelineTable">
		<table>
			<tr><th>Program</th></tr>
			{% for mipsprogram in programMips %}
				<tr> <td style="visibility:visible;"> {{ mipsprogram.value }} </td> </tr>
			{% endfor %}
		</table>
	</div>
    <style type="text/css">
         td {
            visibility:hidden;
        }
    </style>
    <style type="text/css">
        td:nth-child(-n+{{request.session.nextCycle}}) {
            visibility:visible;
        }
    </style>
	<div id = "clockCycleTable">
		<table id="clockCycles">
			<tr>
                {% for x in lastCycle %}
				    <th>Cycle {{x}}</th>
                {% endfor %}
            </tr>
            {% for x in table %}
			<tr>
                {% if x.BEFORE == 1|add:"0" %}
                {% for y in x.BEFORESPACE %}
                    <td></td>
                {% endfor %}
                {% endif %}
                
                {% if x.CIF == 1 %}
                <td>
                    <div href="javascript:void(0)" onclick="toggle_visibility('IFpopup');">
                        IF
                        <div id = "IFpopup">
                            IR = 
                            <br>
                            PC = 
                        </div>
                    </div>
				</td>
                {% endif %}
                
                {% if x.CSTALL == 1 %}
                <td><div> * </div></td>
                <td><div> * </div></td>
                {% endif %}
                
                {% if x.CID == 1 %}
                <td>
                    <div href="javascript:void(0)" onclick="toggle_visibility('IDpopup');">
                        ID
                        <div id = "IDpopup">
                            IR = 
                            <br>
                            A = 
                            <br>
                            B = 
                            <br>
                            Imm = 
                        </div>
                    </div>
                </td>
                {% endif %}
                
                {% if x.CEX == 1 %}
                <td>
                    <div href="javascript:void(0)" onclick="toggle_visibility('EXpopup');">
                        EX
                        <div id = "EXpopup">
                            IR = 
                            <br>
                            B = 
                            <br>
                            ALU Output = 
                            <br>
                            Cond = 
                        </div>
                    </div>
                </td>
                {% endif %}
                
                {% if x.CMEM == 1 %}
                <td>
                    <div href="javascript:void(0)" onclick="toggle_visibility('MEMpopup');">
                        MEM
                        <div id = "MEMpopup">
                            IR = 
                            <br>
                            LMD = 
                            <br>
                            ALU Output = 
                            <br>
                            Memory Range = 
                        </div>
                    </div>	
                </td>
                {% endif %}
                
                {% if x.CWB == 1 %}
                <td>
                    <div href="javascript:void(0)" onclick="toggle_visibility('WBpopup');">
                        WB
                        <div id = "WBpopup">
                            IR = 
                            <br>
                            Result = 
                        </div>
                    </div>
                </td>
                {% endif %}
			</tr>
            {% endfor %}
		</table>
	</div>
</div>

<div id = "endbuttons">
	<button onclick = "location.href = '{% url 'purge' %}'">BACK</button>	
	<button onclick="location.href = '{% url 'nextCycle' request.session.nextCycle %}'">NEXT CLOCK CYCLE</button>
	<button onclick="location.href = '{% url 'finish' %}'">FINISH EXECUTION</button>
</div>
</html>