{% load staticfiles %}
<html>
<link rel = "stylesheet" type = "text/css" href = "{% static 'simulator/pipelineStyle.css'%}"/>

<h1>Pipeline Map</h1>
<p>S12-6: BGTZ/BC (Pipeline Freeze)</p>

<div id = "datatable">
	{% csrf_token %}
	<table id = "datasegmenttable">
		<tr class = "tablehead">
			<th> Address </th>
			<th> Value </th>
		</tr>
		
		{% for datasegment in datasegment %}
			<tr>
				<td> {{ datasegment.name }} </td>
				<td> {{ datasegment.value }} </td>
			</tr>
		{% endfor %}
	</table>
</div>

<div id = "mainTable">
	<div id = "programTable">
		<table>
			<tr><th>Program</th></tr>
			{% for mipsprogram in programMips %}
				<tr> <td> {{ mipsprogram.value }} </td> </tr>
			{% endfor %}
		</table>
	</div>

	<div id = "clockCycleTable">
		<table id = "clockCycles">
			<!--temporary, clock cycles should be dynamic-->
			<tr>
                {% for x in lastCycle %}
				    <th>Cycle {{x}}</th>
                {% endfor %}
				<!--add <th> in the next clock cycle-->
			</tr>
            {% for x in table %}
			<tr>
                {% if x.BEFORE == 1|add:"0" %}
                {% for y in x.BEFORESPACE %}
                    <td></td>
                {% endfor %}
<!--
                <script>
                function Spacer(){
                alert("HEY");
                var i;
                var a = parseInt({{x.BEFORESPACE}});
                    for (i = 0; i < 3; i++) {
                    text += "<td></td>";
                    }
                    document.getElementById("demo").innerHTML = text;
                }
                </script>
-->
                {% endif %}
                {% if x.CIF == 1 %}
                <td>IF</td>
                {% endif %}
                {% if x.CSTALL == 1 %}
                <td> * </td>
                <td> * </td>
                {% endif %}
                {% if x.CID == 1 %}
                <td>ID</td>
                {% endif %}
                {% if x.CEX == 1 %}
                <td>EX</td>
                {% endif %}
                {% if x.CMEM == 1 %}
                <td>MEM</td>
                {% endif %}
                {% if x.CWB == 1 %}
                <td>WB</td>
                {% endif %}
			</tr>
            {% endfor %}
		</table>
	</div>
</div>

<div id = "endbuttons">
	<button  onclick = "location.href = '{% url 'purge' %}'">BACK</button>	
	<button id = "nextbtn">NEXT CLOCK CYCLE</button>
	<button id = "fullbtn">FINISH EXECUTION</button>
</div>
</html>