body {
	background-color: lightgray;
	text-align: center;
	font-family: Century Gothic;
}

h1 {
	font-family: Century Gothic;
	font-size: 45px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 0px;
}

button {
	background-color: black;
	color: azure;
	font-family:Century Gothic;
	font-size: 18px;
	border-radius: 10px;
	height: 50px;
	width: 200px;
}

table {
	margin-top: 20px;
	margin-right: 20px;
	font-family:Century Gothic;
	font-size: 20px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.15)
}

td {
	padding-bottom: 5px;
}

input[type=text] {
	width: 270px;
	height: 30px;
	border-radius: 8px;
	padding-top: 5px;
}

.tablehead {
	height: 35px;
	vertical-align: top;
}

.regs {
	text-align: center;
	vertical-align: top;

}

.textField {
	text-align: center;
	width: 300px;
}

#inputs, form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	margin: auto;
	height: 480px;
	width: 1300px;
}

#submitbutton {
	margin-left: 30%;
	margin-right: 10px;
}

#cancelbutton {
	position: relative;
	left: 600px;
	bottom: 10px;
}